<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/LaLlamaDelBosque.styles.css" asp-append-version="true" />


@model IEnumerable<Award>

@using System.Web;
@using Microsoft.AspNetCore.Mvc;

@{
    ViewData["Title"] = "Premios";
}

<h1 class="display-4">@ViewData["Title"]</h1>
<p>
    Los datos de esta página son obtenidos de:
    <a href="https://www.jpsloteria.com/loteria-resultados" target="_blank">TICA</a>,
    <a href="https://nuevaya.com.ni/loto-diaria-de-nicaragua/" target="_blank">NICA</a>,
    <a href="https://www.yelu.hn/lottery/results/la-diaria" target="_blank">HONDUREÑA</a>,
    <a href="https://www.yelu.do/leidsa/results/la-primera" target="_blank">LA PRIMERA</a>.
</p>


<div class="btn-group mx-auto" role="group">
    <!-- Update -->
    <button type="button" class="btn"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-tooltip-class="custom-tooltip"
            title="Actualizar tabla"
            onclick="location.href='@Url.Action("Create", "Award")'">
        <span class="material-icons icon icon-primary">update</span>
    </button>
    <button type="button" class="btn"
            data-bs-toggle="modal"
            data-bs-target="#deleteAllModal"
            title="Eliminar todas las tablas">
        <span class="material-icons icon icon-danger">delete</span>
    </button>
</div>

<div class="modal fade" id="deleteAllModal" tabindex="-1" aria-labelledby="deleteModalAllLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Premios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <partial name="_DeleteAll"></partial>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-xl-10">
            <div class="accordion" id="accordionFlushExample">
                @foreach (var item in Model)
                {
                    <div class="accordion-item p-1 mb-2" id="elementId">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@item.Id" aria-expanded="false" aria-controls="flush-collapse-@item.Id" on>
                                <div class="d-flex align-items-start">
                                    <span class="material-icons star">
                                        workspace_premium
                                    </span>
                                </div>
                                <div class="d-flex align-items-start flex-column">
                                    <div class="p-1">
                                        <b style="font-size: 24px">@item.Date.ToLongDateString()</b>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="flush-collapse-@item.Id" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                <!-- Copy -->
                                                <button type="button" class="btn" onclick="copyToClipboard('@item.Id')">
                                                    <span class="material-icons icon icon-success">content_copy</span>
                                                </button>
                                                <!-- Add -->
                                                <button type="button" class="btn"
                                                    onclick="showPartial('addPartial-@item.Id')">
                                                    <span class="material-icons icon icon-primary">add_circle</span>
                                                </button>
                                                <!-- Delete -->
                                                <button type="button" class="btn"
                                                    onclick="showPartial('deletePartial-@item.Id')">
                                                    <span class="material-icons icon icon-danger">delete</span>
                                                </button>
                                            </th>
                                        </tr>
                                        <tr id="deletePartial-@item.Id">
                                            <th>
                                                <partial name="_Delete" model="item"></partial>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                                <div id="CopyMessage-@item.Id"></div>
                                <table class="table">
                                    <thead>  
                                        <tr>
                                            <th>Id</th>
                                            <th>Descripción</th>
                                            <th></th>
                                            <th>Número</th>
                                            <th>Monto</th>
                                            <th>Reventado</th>
                                            <th># Monto</th>
                                            <th># Reventado</th>
                                            <th>Premio</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var line in item.AwardLines)
                                        {
                                            <tr id="editPartial-@item.Id-@line.Order">
                                                <td colspan="9">
                                                    <partial name="_Edit" model="@new AwardConnectionModel() { AwardId = item.Id, AwardLine = line }" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>@line.Order</td>
                                                <td>@line.Description</td>
                                                <td>@if(line.IsBusted)
                                                    {
                                                        <div class="circle">R</div>
                                                    }
                                                </td>
                                                <td>@line.Number</td>
                                                <td>₡ @line.Amount</td>
                                                <td>₡ @line.Busted</td>
                                                <td>@line.TimesAmount</td>
                                                <td>@line.TimesBusted</td>
                                                <td class="table-active">₡ @line.Award</td>
                                                <td style="text-align:center">
                                                    <div class="btn-group mx-auto" role="group">
                                                        <!-- Edit -->
                                                        <button type="button" class="btn" onclick="showPartial('editPartial-@item.Id-@line.Order')">
                                                            <span class="material-icons icon icon-dark">mode_edit</span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                        <tr id="addPartial-@item.Id">
                                            <td colspan="9">
                                                @{
                                                    var maxOrder = item.AwardLines.Any() ? item.AwardLines.Max(al => al.Order) : 0;
                                                    var awardConnectionModel = new AwardConnectionModel() { AwardId = item.Id, AwardLine = new AwardLine() { Order = maxOrder + 1 } };
                                                }
                                                <partial name="_Add" model="@awardConnectionModel">
                                                </partial>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="6"></td>
                                            <td>Total</td>
                                            <td>₡ @item.AwardLines.Sum(x => x.Award)</td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script type="text/javascript">
        function scrollToItem(id) {
            const element = document.getElementById('flush-collapse-'.concat(id));
            element.scrollIntoView();
        }

        function copyToClipboard(id) {
            var table = document.getElementById("elementId");
            html2canvas(table).then(function (canvas) {
                canvas.toBlob(function (blob) {
                    var imageBlob = new Blob([blob], { type: "image/png" });

                    // Copiar imagen al portapapeles
                    if (navigator.clipboard && navigator.clipboard.write) {
                        navigator.clipboard.write([
                            new ClipboardItem({
                                "image/png": imageBlob
                            })
                        ]).then(function () {
                            console.log('La imagen se copió al portapapeles correctamente.');
                            document.getElementById('CopyMessage-'.concat(id)).innerHTML = '<div class="alert alert-success" role = "alert">¡Copiado!<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';
                        }).catch(function (error) {
                            console.error('Error al copiar la imagen al portapapeles:', error);
                        });
                    } else {
                        console.warn('La API Clipboard no está soportada en este navegador.');
                    }
                });
            });
        }

        function showPartial(id) {
            var partialDivs = document.querySelectorAll('[id*="Partial"]');
            partialDivs.forEach(function (partialDiv) {
                if (partialDiv.id !== id) {
                    partialDiv.style.display = "none";
                }
            });

            var element = document.getElementById(id);

            if (element.style.display === "none") {
                if (element.tagName === "DIV") {
                    element.style.display = "block";
                } else if (element.tagName === "TR") {
                    element.style.display = "table-row";
                }
            } else {
                element.style.display = "none";
            }
        }
    </script>
}