@model LaLlamaDelBosque.Models.SummaryModel

@{
    ViewData["Title"] = "Resumen de Créditos";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<div class="container">
    <div class="d-flex justify-content-around flex-wrap">
        <div class="card" style="width: 20rem; margin-bottom: 12px; margin-top: 12px;">
            <div class="card-header">
                <h5 class="card-title">CANTIDAD DE CLIENTES</h5>
            </div>
            <div class="card-body text-center">
                <h1>@Model.Clients</h1>
                <hr>
                <h6>@Model.ClientsDescription</h6>
                </div>
        </div>
        <div class="card" style="width: 22rem; margin-bottom: 12px; margin-top: 12px;">
            <div class="card-header">
                <h5 class="card-title">TOTAL POR COBRAR</h5>
            </div>
            <div class="card-body text-center">
                <h1>₡ @Model.Receivable</h1>
                <hr>
                <h6>pendientes</h6>
            </div>
        </div>
        <div class="card" style="width: 22rem; margin-bottom: 12px; margin-top: 12px;">
            <div class="card-header">
                <h5 class="card-title">ABONOS DE HOY</h5>
            </div>
            <div class="card-body text-center">
                <h1>₡ @Model.Received</h1>
                <hr>
                <h6>pagados</h6>
            </div>
        </div>
        <div class="card" style="width: 25rem; margin-bottom: 12px; margin-top: 12px;">
            <div class="card-header">
                <h5 class="card-title">CLIENTES CON MAS DEUDA</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.MajorDebts)
                    {
                        <li class="list-group-item">@item.Name: ₡ @item.Amount</li>
                    }
                </ul>
            </div>
        </div>
        <div class="card" style="width: 25rem; margin-bottom: 12px; margin-top: 12px;">
            <div class="card-header">
                <h5 class="card-title">CLIENTES CON MENOS DEUDA</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @foreach(var item in Model.MinorDebts)
                    {
                        <li class="list-group-item">@item.Name: ₡ @item.Amount</li>
                    }
                </ul>
            </div>
        </div>
        <div class="card" style="width: 25rem; margin-bottom: 12px; margin-top: 12px;">
            <div class="card-header">
                <h5 class="card-title">CLIENTES INACTIVOS</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @foreach(var item in Model.InactiveClients)
                    {
                        <li class="list-group-item">@item.Name: ₡ @item.Amount</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>