@model Paper

@{
    Layout = "";
    double totalAmount = Model.Numbers.Sum(t => t.Amount);
    double totalNumbers = Model.Numbers.Sum(t => t.Busted);
    double total = totalAmount + totalNumbers;
}

<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>@ViewData["Title"] - La Llama Del Bosque</title>
           
            <link rel="stylesheet" href="~/LaLlamaDelBosque.styles.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/css/print.css" asp-append-version="true" />
        </head>
        <body>
            <div class="table-responsive container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-3">

                        <h1>TIEMPOS</h1>
                        <h2>La Llama del Bosque</h2>
                        <div class="client-section">
                            <p>
                                <strong>FECHA:</strong> @DateTime.Now.ToShortDateString()
                                <strong>HORA:</strong> @DateTime.Now.ToShortTimeString()
                            </p>
                            <p><strong>FECHA SORTEO:</strong> @Model.Date.ToShortDateString()</p>
                            <p><strong>SORTEO:</strong> @Model.Lottery</p>
                            <p><strong>PAPELITO:</strong> #@Model.Id</p>
                        </div>

                        <div class="container">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width: 40%;">#</th>
                                        <th>Monto</th>
                                        <th>Rtado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model.Numbers.GroupBy(n => new { n.Amount, n.Busted }).OrderBy(n => n.Key.Amount).ThenBy(y => y.Key.Busted).Select(g => new { amount = g.Key.Amount, busted = g.Key.Busted, values = g.Select(y => y.Value) }))
                                    {
                                        string values = string.Join(" x ", item.values);
                                        <tr>
                                            <td>@values</td>
                                            <td>₡‎ @item.amount</td>
                                            <td>₡‎ @item.busted</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="total-section">
                            <h2>TOTAL: ₡ @total</h2>
                        </div>

                        <p>
                            <strong>
                            ◉ Pagamos al 85. <br />
                            ◉ Sin tiquete no se paga. <br />
                            ◉ Revise su tiquete. <br />
                            </strong>
                            (montos, números, hora, fecha y sorteo)
                        </p>

                        <p>
                            Gracias por su compra.
                            <strong>¡Mucha Suerte!</strong>
                        </p>

                    </div>
                </div>
            </div>
            <script>
                var desiredWidth = 467;

                if (window.opener && window.location.href !== window.opener.location.href) {
                    window.print();
                }
                else {
                    var url = window.location.href;
                    window.open(url, this.target, 'width=467');
                    window.location.href = '@Url.Action("Create", "Lottery")';
                }
            </script>
        </body>
    </html>

