<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/LaLlamaDelBosque.styles.css" asp-append-version="true" />

@model IEnumerable<Credit>

@using System.Web;
@using Microsoft.AspNetCore.Mvc;

@{
    ViewData["Title"] = "Créditos de Clientes";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<div class="container">
    <div class="btn-group mx-auto col-2" role="group">
        <!-- Add -->
        <button type="button" class="btn"
                onclick="location.href='@Url.Action("Create", "Credit")'">
            <span class="material-icons icon icon-primary">add_circle</span>
        </button>
        <!-- PDF -->
        <button type="button" class="btn"
                    onclick="location.href='@Url.Action("IndexPdf", "Credit")'">
            <span class="material-icons icon icon-success">article</span>
        </button>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-xl-10">
            <form id="searchForm" class="d-flex" asp-controller="Credit" asp-action="Index" method="get">
                <div class="input-group form-floating mb-4 mt-1">
                    <input id="searchInput" type="search" class="form-control" name="SearchString" placeholder="Buscar..." oninput="searchCredits()">
                    <label for="floatingInput">Buscar</label>
                </div>
            </form>
            <div class="accordion" id="accordionFlushExample">
                @foreach (var item in Model)
                {
                    var cumulative = 0D;
                    <div class="accordion-item p-1 mb-2">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@item.Client.Id" aria-expanded="false" aria-controls="flush-collapse-@item.Client.Id">
                                <div class="d-flex align-items-start">
                                    <span class="material-icons star">
                                        account_circle
                                    </span>
                                </div>
                                <div class="d-flex align-items-start flex-column">
                                    <div class="p-1">
                                        <b style="font-size: 24px">@item.Client.Name</b>
                                    </div>
                                    <div class="p-1">
                                        Total: ₡ @item.CreditSummary.Total
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="flush-collapse-@item.Client.Id" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="btn-group col-md-2" role="group">
                                        <!-- Edit -->
                                        <button type="button" class="btn" onclick="showPartial('editPartial-@item.Client.Id')">
                                            <span class="material-icons icon icon-dark">edit</span>
                                        </button>
                                        <!-- Delete -->
                                        <button type="button" class="btn" onclick="showPartial('deletePartial-@item.Client.Id')">
                                            <span class="material-icons icon icon-danger">delete</span>
                                        </button>
                                    </div>
                                    <div class="col-md-8">
                                        <div id="editPartial-@item.Client.Id" class="partial">
                                            <partial name="_Edit" model="@Model.FirstOrDefault(x => x.Client.Id == item.Client.Id)?.Client"></partial>
                                        </div>
                                        <div id="deletePartial-@item.Client.Id" class="partial">
                                            <partial name="_Delete" model="item"></partial>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                    <thead>  
                                        <tr>
                                            <th>Id</th>
                                            <th>Fecha</th>
                                            <th>Hora</th>
                                            <th>Descripción</th>
                                            <th>Precio</th>
                                            <th>Acumulado</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var line in item.CreditLines)
                                        {
                                            <tr>
                                                <td>@line.Id</td>
                                                <td>@line.CreatedDate.ToShortDateString()</td>
                                                <td>@line.CreatedDate.ToShortTimeString()</td>
                                                <td>@line.Description</td>
                                                <td>₡ @line.Amount</td>
                                                <td class="table-active">@{cumulative += @line.Amount;}₡ @cumulative</td>
                                                <td style="text-align:center">
                                                    <div class="btn-group mx-auto" role="group">
                                                        <!-- Refresh -->
                                                            <button type="button" class="btn" onclick="showPartial('refreshPartial-@item.Client.Id-@line.Id')">
                                                            <span class="material-icons icon icon-dark">mode_edit</span>
                                                        </button>
                                                        <!-- Remove -->
                                                        <button type="button" class="btn" onclick="showPartial('removePartial-@item.Client.Id-@line.Id')">
                                                            <span class="material-icons icon icon-danger">delete</span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr id="removePartial-@item.Client.Id-@line.Id">
                                                <td colspan="7">
                                                    <partial name="_Remove" model="new CreditConnectionModel{ClientId= item.Client.Id, LineId= line.Id}" />
                                                </td>
                                            </tr>
                                            <tr id="refreshPartial-@item.Client.Id-@line.Id">
                                                <td colspan="7">
                                                    <partial name="_Refresh" model="new CreditConnectionModel{ClientId= item.Client.Id, CreditLine= line}" />
                                                </td>
                                            </tr>
                                        }
                                        <tr id="addPartial-@item.Client.Id">
                                            <td colspan="7">
                                                <partial name="_Add" model="@new CreditLine() { Id = item.Client.Id, CreatedDate = DateTime.Now }" />
                                            </td>
                                        </tr>
                                        <tr id="feePartial-@item.Client.Id">
                                            <td colspan="7">
                                                <partial name="_Fee" model="@new CreditLine() { Id = item.Client.Id, CreatedDate = DateTime.Now }" />
                                            </td>
                                        </tr>
                                        <tr id="clearPartial-@item.Client.Id">
                                            <td colspan="7">
                                                <partial name="_Clear" model="item" />
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="4">
                                                <!-- Add -->
                                                <button type="button" class="btn" onclick="showPartial('addPartial-@item.Client.Id')">
                                                    <span class="material-icons icon icon-primary">add_circle</span>
                                                </button>
                                                <!-- Fee -->
                                                <button type="button" class="btn" onclick="showPartial('feePartial-@item.Client.Id')">
                                                    <span class="material-icons icon icon-primary">post_add</span>
                                                </button>
                                                <!-- Clear -->
                                                <button type="button" class="btn" onclick="showPartial('clearPartial-@item.Client.Id')">
                                                    <span class="material-icons icon icon-danger">cancel</span>
                                                </button>
                                                <!-- Copy -->
                                                <button type="button" class="btn" id="btnCopy" onclick="copyToClipboard('@item.Client.Id', '@item.Client.Name', '@item.CreditSummary.Total')">
                                                    <span class="material-icons icon icon-success">content_copy</span>
                                                </button>
                                            </td>
                                            <td>Total</td>
                                            <td>₡ @item.CreditSummary.Total</td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                                </div>
                                <div id="CopyMessage-@item.Client.Id">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var delayTimer;

        function searchCredits() {
            clearTimeout(delayTimer);
            delayTimer = setTimeout(function () {
                document.getElementById('searchForm').submit();
            }, 500);
        }

        function copyToClipboard(id, name, total) {
            const message = `Hola ${name}, *La llama del Bosque* le saluda! 🔥🌳\n @ConfigurationModel.BalanceMessage ₡${total}.*`;
            navigator.clipboard.writeText(message)
                .then(() => {
                    const copyMessage = document.getElementById(`CopyMessage-${id}`);
                    copyMessage.innerHTML = `
                        <div class="alert alert-success" role="alert">
                            ¡Copiado!
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    `;
                })
                .catch((error) => {
                    console.error('Error al copiar al portapapeles:', error);
                });
        }

        function showPartial(id) {
            var partialDivs = document.querySelectorAll('[id*="Partial"]');
            partialDivs.forEach(function (partialDiv) {
                if (partialDiv.id !== id) {
                    partialDiv.style.display = "none";
                }
            });

            var element = document.getElementById(id);

            if (element.style.display === "none") {
                if (element.tagName === "DIV") {
                    element.style.display = "block";
                } else if (element.tagName === "TR") {
                    element.style.display = "table-row";
                }            
            } else {
                element.style.display = "none";
            }
        }

    </script>
}