<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

@model IEnumerable<LaLlamaDelBosque.Models.Credit>

@using System.Web;
@using Microsoft.AspNetCore.Mvc;

@{
    ViewData["Title"] = "Créditos de Clientes";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<div class="btn-group mx-auto" role="group">
    <!-- Add -->
    <button type="button" class="btn"
            onclick="location.href='@Url.Action("Create", "Credit")'">
        <span class="material-icons icon icon-primary">add_circle</span>
    </button>
    <!-- Send -->
    <button type="button" class="btn"
            onclick="window.open('@HttpUtility.HtmlDecode(String.Format(ConfigurationModel.SummaryMessage, $"https://api.whatsapp.com/send/?phone=83232377&text=", TempData["Message"]))')">
        <span class="material-icons icon icon-success">send</span>
    </button>
</div>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-xl-10">
            <form class="d-flex" role="search" asp-controller="Credit" asp-action="Index" method="get">
                <div class="input-group form-floating mb-4 mt-1">
                    <input type="search" class="form-control" name="SearchString" placeholder="Buscar...">
                    <label for="floatingInput">Buscar</label>
                    <span class="input-group-text material-icons icon icon-dark">search</span>
                </div>
            </form>
            <div class="accordion" id="accordionFlushExample">
                @foreach (var item in Model)
                {
                    var cumulative = 0D;
                    <div class="accordion-item p-1 mb-2">
                        @if (item.Client.Id != (int?)TempData["Id"])
                        {
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@item.Client.Id" aria-expanded="false" aria-controls="flush-collapse-@item.Client.Id">
                                    <div class="d-flex align-items-start">
                                        <span class="material-icons star">
                                            account_circle
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-start flex-column">
                                        <div class="p-1">
                                            <b style="font-size: 24px">@item.Client.Name</b>
                                        </div>
                                        <div class="p-1">
                                            Total: ₡ @item.CreditSummary.Total
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="flush-collapse-@item.Client.Id" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">
                                                    <!-- Edit -->
                                                    <button type="button" class="btn"
                                                        onclick="location.href='@Url.Action("Edit", "Credit", new {Id= item.Client.Id})'">
                                                        <span class="material-icons icon icon-dark">edit</span>
                                                    </button>
                                                    <!-- Delete -->
                                                    <button type="button" class="btn"
                                                        onclick="location.href='@Url.Action("Delete", "Credit", new {Id= item.Client.Id})'">
                                                        <span class="material-icons icon icon-danger">delete</span>
                                                    </button>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <table class="table">
                                        <thead>  
                                            <tr>
                                                <th>Id</th>
                                                <th>Fecha</th>
                                                <th>Hora</th>
                                                <th>Descripción</th>
                                                <th>Precio</th>
                                                <th>Acumulado</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach(var line in item.CreditLines) 
                                            {
                                                <tr>
                                                    <td>@line.Id</td>
                                                    <td>@line.CreatedDate.ToShortDateString()</td>
                                                    <td>@line.CreatedDate.ToShortTimeString()</td>
                                                    <td>@line.Description</td>
                                                    <td>₡ @line.Amount</td>
                                                    <td class="table-active">@{cumulative += @line.Amount;}₡ @cumulative</td>
                                                    <td style="text-align:center">
                                                        <div class="btn-group mx-auto" role="group">
                                                            <!-- Refresh -->
                                                            <button type="button" class="btn" onclick="location.href='@Url.Action("Refresh", "Credit", new {ClientId= item.Client.Id, LineId= line.Id})'">
                                                                <span class="material-icons icon icon-dark">mode_edit</span>
                                                            </button>
                                                            <!-- Remove -->
                                                            <button type="button" class="btn" onclick="location.href='@Url.Action("Remove", "Credit", new {ClientId= item.Client.Id, LineId= line.Id})'">
                                                                <span class="material-icons icon icon-danger">delete</span>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                            </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="4">
                                                    <!-- Add -->
                                                    <button type="button" class="btn"
                                                        onclick="location.href='@Url.Action("Add", "Credit", new {id = item.Client.Id})'">
                                                        <span class="material-icons icon icon-primary">add_circle</span>
                                                    </button>
                                                    <!-- Fee -->
                                                    <button type="button" class="btn"
                                                        onclick="location.href='@Url.Action("Fee", "Credit", new {id = item.Client.Id})'">
                                                        <span class="material-icons icon icon-primary">post_add</span>
                                                    </button>
                                                    <!-- Clear -->
                                                    <button type="button" class="btn"
                                                        onclick="location.href='@Url.Action("Clear", "Credit", new {id = item.Client.Id})'">
                                                            <span class="material-icons icon icon-danger">cancel</span>
                                                    </button>
                                                    <!-- Send -->
                                                    <button type="button" class="btn"
                                                        onclick="window.open('@HttpUtility.HtmlDecode(String.Format(ConfigurationModel.BalanceMessage, $"https://api.whatsapp.com/send/?phone={@item.Client.Phone}&text=", item.Client.Name, item.CreditSummary.Total))')">
                                                        <span class="material-icons icon icon-success">send</span>
                                                    </button>
                                                </td>
                                                <td>Total</td>
                                                <td>₡ @item.CreditSummary.Total</td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@item.Client.Id" aria-expanded="false" aria-controls="flush-collapse-@item.Client.Id">
                                    <div class="d-flex align-items-start">
                                        <span class="material-icons star">
                                            account_circle
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-start flex-column">
                                        <div class="p-1">
                                            <b style="font-size: 24px">@item.Client.Name</b>
                                        </div>
                                        <div class="p-1">
                                            Total: ₡ @item.CreditSummary.Total
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="flush-collapse-@item.Client.Id" class="accordion-collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">
                                                    <!-- Edit -->
                                                    <button type="button" class="btn"
                                                        onclick="location.href='@Url.Action("Edit", "Credit", new {Id= item.Client.Id})'">
                                                        <span class="material-icons icon icon-dark">edit</span>
                                                    </button>
                                                    <!-- Delete -->
                                                    <button type="button" class="btn"
                                                        onclick="location.href='@Url.Action("Delete", "Credit", new {Id= item.Client.Id})'">
                                                        <span class="material-icons icon icon-danger">delete</span>
                                                    </button>
                                                </th>
                                                <th>
                                                    @if(Model.Any() && TempData["Method"] is not null && Model.FirstOrDefault(x => x.Client.Id == (int?)TempData["Id"]) is not null)
                                                    {
                                                        @switch(TempData["Method"])
                                                        {
                                                            case "Edit":
                                                                <partial name="_Edit" model="@Model.FirstOrDefault(x => x.Client.Id == (int?)TempData["Id"])?.Client"></partial>
                                                                break;
                                                            case "Delete":
                                                                <partial name="_Delete" model="item"></partial>
                                                                break;
                                                        }
                                                    }
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <table class="table">
                                        <thead>  
                                            <tr>
                                                <th>Id</th>
                                                <th>Fecha</th>
                                                <th>Hora</th>
                                                <th>Descripción</th>
                                                <th>Precio</th>
                                                <th>Acumulado</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach(var line in item.CreditLines)
                                            {
                                                @if((int?)TempData["Id"] == item.Client.Id && (int?)TempData["LineId"] == line.Id && TempData["Method"]?.ToString() == "Refresh")
                                                {
                                                    <partial name="_Refresh" model="line" />
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>@line.Id</td>
                                                        <td>@line.CreatedDate.ToShortDateString()</td>
                                                        <td>@line.CreatedDate.ToShortTimeString()</td>
                                                        <td>@line.Description</td>
                                                        <td>₡ @line.Amount</td>
                                                        <td class="table-active">@{cumulative += @line.Amount;}₡ @cumulative</td>
                                                        <td style="text-align:center">
                                                            <div class="btn-group mx-auto" role="group">
                                                                <!-- Refresh -->
                                                                <button type="button" class="btn" onclick="location.href='@Url.Action("Refresh", "Credit", new {ClientId= item.Client.Id, LineId= line.Id})'">
                                                                    <span class="material-icons icon icon-dark">mode_edit</span>
                                                                </button>
                                                                <!-- Remove -->
                                                                <button type="button" class="btn" onclick="location.href='@Url.Action("Remove", "Credit", new {ClientId= item.Client.Id, LineId= line.Id})'">
                                                                    <span class="material-icons icon icon-danger">delete</span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                                @if((int?)TempData["Id"] == item.Client.Id && (int?)TempData["LineId"] == line.Id && TempData["Method"]?.ToString() == "Remove")
                                                {
                                                    <tr>
                                                        <td colspan="6">
                                                            <partial name="_Remove" model="new CreditConnectionModel{ClientId= item.Client.Id, LineId= line.Id}" />
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                            @switch (TempData["Method"])
                                            {
                                                case "Add":
                                                    <tr>
                                                        <td colspan="7">
                                                            <partial name="_Add" model="@new CreditLine() { Id = (int?)@TempData["Id"] ?? 0, CreatedDate = DateTime.Now }"/>
                                                        </td>
                                                    </tr>
                                                    break;
                                                case "Fee":
                                                    <tr>
                                                        <td colspan="7">
                                                            <partial name="_Fee" model="@new CreditLine() { Id = (int?)@TempData["Id"] ?? 0, CreatedDate = DateTime.Now }" />
                                                        </td>
                                                    </tr>
                                                    break;
                                                case "Clear":
                                                    <tr>
                                                        <td colspan = "7">
                                                            <partial name = "_Clear" model = "item"/>
                                                        </td>
                                                    </tr>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="4">
                                                    <!-- Add -->
                                                    <button type="button" class="btn"
                                                    onclick="location.href='@Url.Action("Add", "Credit", new {id = item.Client.Id})'">
                                                        <span class="material-icons icon icon-primary">add_circle</span>
                                                    </button>
                                                    <!-- Fee -->
                                                    <button type="button" class="btn"
                                                    onclick="location.href='@Url.Action("Fee", "Credit", new {id = item.Client.Id})'">
                                                        <span class="material-icons icon icon-primary">post_add</span>
                                                    </button>
                                                    <!-- Clear -->
                                                    <button type="button" class="btn"
                                                    onclick="location.href='@Url.Action("Clear", "Credit", new {id = item.Client.Id})'">
                                                        <span class="material-icons icon icon-danger">cancel</span>
                                                    </button>
                                                    <!-- Send -->
                                                    <button type="button" class="btn"
                                                    onclick="window.open('@HttpUtility.HtmlDecode(String.Format(ConfigurationModel.BalanceMessage, $"https://api.whatsapp.com/send/?phone={@item.Client.Phone}&text=", item.Client.Name, item.CreditSummary.Total))')">
                                                        <span class="material-icons icon icon-success">send</span>
                                                    </button>
                                                </td>
                                                <td>Total</td>
                                                <td>₡ @item.CreditSummary.Total</td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
