<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/LaLlamaDelBosque.styles.css" asp-append-version="true" />

@model IEnumerable<Credit>

@using System.Web;
@using Microsoft.AspNetCore.Mvc;
@using System.Linq
@using LaLlamaDelBosque.Utils;


@{
    var currentPage = ViewBag.currentPage;
    var totalPages = ViewBag.totalPages;
    var searchString = ViewBag.searchString;
}

@functions {
    string GetStatusClass(int status) {
        switch (status) {
            case 2:
                return "text-bg-success";
            case 3:
                return "text-bg-warning";
            case 4:
                return "text-bg-danger";
            default:
                return "text-bg-primary";
        }
    }
}

<div class="container">
    <div class="row justify-content-md-center">
        <div>
            <div class="d-flex align-items-center mt-2 mb-2">
                <div class="btn-group ms-4 me-4" role="group">
                    <button type="button" class="btn"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-tooltip-class="custom-tooltip"
                        title="Nuevo Cliente" 
                        onclick="location.href='@Url.Action("Create", "Credit")'">
                        <span class="material-icons icon icon-primary">add_circle</span>
                    </button>
                    <div class="form-check form-switch d-flex flex-column align-items-center ps-3 pe-3">
                        <span class="material-icons icon icon-success">paid</span>
                        <input class="form-check-input m-0" type="checkbox" id="saldoSwitch" disabled>
                    </div>
                    <button type="button" class="btn"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Descargar reporte de créditos"
                        onclick="location.href='@Url.Action("IndexPdf", "Credit")'">
                        <span class="material-icons icon icon-success">article</span>
                    </button>
                </div>
                <form id="searchForm" class="d-flex flex-grow-1" asp-controller="Credit" asp-action="Index" method="get">
                    <div class="input-group">
                        <input id="searchInput" type="search" class="form-control" name="SearchString" value="@searchString" placeholder="Buscar..." oninput="searchCredits()" autofocus aria-label="Campo de búsqueda">
                    </div>
                </form>
            </div>
            <div class="row row-cols-1 row-cols-md-4">
                @foreach(var item in Model)
                {
                    <div class="col-md-3 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="badge @GetStatusClass(item.CreditSummary.Status)">@Constants.LimitStatus[item.CreditSummary.Status]</span>
                                    <!-- Menú de acciones -->
                                    <div class="dropdown-menu-end">
                                        <button class="btn-icon" type="button" id="actionMenu" data-bs-toggle="dropdown">
                                            <span class="material-icons">more_vert</span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="actionMenu">
                                            <!-- Editar -->
                                            <li>
                                                <button class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#editModal-@item.Client.Id">
                                                    <span class="material-icons icon icon-dark" style="padding-right: 10px;">edit</span> Editar
                                                </button>
                                            </li>
                                            <!-- Imagen -->
                                            <li>
                                                <button class="dropdown-item d-flex align-items-center" id="btnCopy" onclick="copyAsImage('@item.Client.Id')">
                                                    <span class="material-icons icon icon-dark" style="padding-right: 10px;">image</span> Crear Imagen
                                                </button>
                                            </li>
                                            <!-- Recordatorio -->
                                            <li>
                                                <button class="dropdown-item d-flex align-items-center" id="btnCopy" onclick="copyToClipboard('@item.Client.Id', '@item.Client.Name', '@item.CreditSummary.Total')">
                                                    <span class="material-icons icon icon-dark" style="padding-right: 10px;">notifications</span> Crear Notificación
                                                </button>
                                            </li>
                                            <!-- Eliminar -->
                                            <li>
                                                <button class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#deleteModal-@item.Client.Id">
                                                    <span class="material-icons icon icon-danger" style="padding-right: 10px;">delete</span> Eliminar
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-start" id="clientTotal-@item.Client.Id">
                                    <div class="d-flex mt-auto mb-auto">
                                        <span class="material-icons star">
                                            account_circle
                                        </span>
                                    </div>
                                    <div class="p-1 me-auto">
                                        <h2 class="text-truncate">
                                            <b style="font-size: 24px">@item.Client.Name</b>
                                        </h2>
                                        <p class="card-text text-truncate">Total: ₡ @item.CreditSummary.Total</p>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#detailsModal-@item.Client.Id">
                                    Ver Detalles
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="editModal-@item.Client.Id" tabindex="-1" aria-labelledby="editModalLabel-@item.Client.Id" aria-hidden="true">>
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="detailsModalLabel-@item.Client.Id">@item.Client.Name</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <partial name="_Edit" model="@Model.FirstOrDefault(x => x.Client.Id == item.Client.Id)?.Client"></partial>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="copySuccessModal" tabindex="-1" aria-labelledby="copySuccessModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="copySuccessModalLabel">¡Copiado!</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="deleteModal-@item.Client.Id" tabindex="-1" aria-labelledby="deleteModalLabel-@item.Client.Id" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel-@item.Client.Id">@item.Client.Name</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <partial name="_Delete" model="item"></partial>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="detailsModal-@item.Client.Id" tabindex="-1" aria-labelledby="detailsModalLabel-@item.Client.Id" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="detailsModalLabel-@item.Client.Id">Historial de @item.Client.Name</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <partial name="_Details" model="item"></partial>

                                </div>
                            </div>
                        </div>
                    </div>
                    @if(item.Client.Id == ViewBag.ClientId)
                    {
                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                var clientId = @ViewBag.ClientId;
                                var itemClientId = @item.Client.Id;

                                if (clientId !== null && clientId === itemClientId) {
                                    var modalId = 'detailsModal-' + itemClientId;
                                    var modalElement = document.getElementById(modalId);

                                    if (modalElement) {
                                        var bootstrapModal = new bootstrap.Modal(modalElement);
                                        bootstrapModal.show();
                                    }
                                }
                            });
                        </script>
                    }
                }
            </div>
            <nav>
                <ul class="pagination justify-content-center">
                    @for (int i = 1; i <= totalPages; i++)
                    {
                        <li class="page-item @(i == currentPage ? "active" : "")">
                            <a class="page-link" href="?currentPage=@i">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

    <script type="text/javascript">
        var delayTimer;

        function searchCredits() {
            clearTimeout(delayTimer);
            delayTimer = setTimeout(function () {
                var searchString = document.getElementById('searchInput').value;
                document.getElementById('searchForm').action = '/Credit/Index?searchString=' + encodeURIComponent(searchString);
                document.getElementById('searchForm').submit();
            }, 1000);
        }

        function copyAsImage(id) {
            var table = document.getElementById("clientTotal-"+id);
            html2canvas(table).then(function (canvas) {
                canvas.toBlob(function (blob) {
                    var imageBlob = new Blob([blob], { type: "image/png" });

                    // Copy image to clipboard
                    if (navigator.clipboard && navigator.clipboard.write) {
                        navigator.clipboard.write([
                            new ClipboardItem({
                                "image/png": imageBlob
                            })
                        ]).then(function () {
                            console.log('Image copied to clipboard successfully.');
                            $('#copySuccessModal').modal('show');
                            setTimeout(function () {
                                $('#copySuccessModal').modal('hide');
                            }, 3000);
                        }).catch(function (error) {
                            console.error('Error copying image to clipboard:', error);
                        });
                    } else {
                        console.warn('Clipboard API is not supported in this browser.');
                    }
                });
            });
        }

        function copyToClipboard(id, name, total) {
            const message = `Hola ${name}, *La llama del Bosque* le saluda! 🔥🌳\n @ConfigurationModel.BalanceMessage ₡${total}.*`;
            navigator.clipboard.writeText(message)
                .then(() => {
                    $('#copySuccessModal').modal('show');
                    setTimeout(function () {
                        $('#copySuccessModal').modal('hide');
                    }, 3000);
                })
                .catch((error) => {
                    console.error('Error al copiar al portapapeles:', error);
                });
        }

        function showPartial(id) {
            var partialDivs = document.querySelectorAll('[id*="Partial"]');
            partialDivs.forEach(function (partialDiv) {
                if (partialDiv.id !== id) {
                    partialDiv.style.display = "none";
                }
            });

            var element = document.getElementById(id);

            if (element.style.display === "none") {
                if (element.tagName === "DIV") {
                    element.style.display = "block";
                } else if (element.tagName === "TR") {
                    element.style.display = "table-row";
                }            
            } else {
                element.style.display = "none";
            }
        }

        function GetStatusClass(status) {
            if (status === 4) {
                return 'text-bg-danger';
            } else {
                return 'text-bg-primary';
            }
        }
    </script>
}